@tailwind base;
@tailwind components;
@tailwind utilities;




/* Common style */
.myContainer{
    @apply mx-6 md:mx-10
}
.my-title{
  @apply font-bold text-2xl lg:text-4xl 2xl:text-5xl
}
.my-title-2{
  @apply font-bold text-xl lg:text-2xl xl:text-3xl
}
.my-subtitle{
  @apply font-semibold text-lg lg:text-xl xl:text-2xl
}
.my-btn-one{
    @apply px-4 py-3 rounded font-semibold bg-yellow-500 text-black hover:scale-105 transition
}
.my-clr-one{
  color: #011324;
}
.my-bg-one{
  background-color: #011324;
}



body {
  --sb-track-color: #232E33;
  --sb-thumb-color: #f9c004;
  --sb-size: 10px;

  scrollbar-color: var(--sb-thumb-color) 
                   var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size) 
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
  
  }
